[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
MainBody
Hatch_Cover_R
Hatch_Cover_L
Ear_R
Ear_L
Gun_Arm_L
Gun_Case_L
Gun_Barrel01_L
Gun_Barrel02_L
Gun_Arm_R
Gun_Case_R
Gun_Barrel01_R
Gun_Barrel02__R
LowerBody
Arm01_L
Arm02_L
Arm03_L
Arm01_R
Arm02_R
Arm03_R
MidRiff
Thruster_L
Thruster_R
Gun_Drum_L
Gun_Drum_R
Hat
Butterfly
Headwear_XmasCap

[RemoveTracks]
ANIM_Drone_Bartender_Idle03.27=all
