[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
SK_Forge_A_Root
SK_Forge_A_Big_Handle
SK_Forge_A_Hammer_Attach
SK_Forge_A_Wrench_3
SK_Forge_A_Wrench_2
SK_Forge_A_Wrench_1
SK_Forge_A_Drill
SK_Forge_A_Screwdriver
SK_Forge_A_DrawerPipe_1
SK_Forge_A_DrawerPipe_2
SK_Forge_A_DrawerPipe_3
SK_Forge_A_DrawerPipe_4
SK_Forge_A_Drawer
SK_Forge_A_Table
