[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Dwarf_RootBone
Dwarf_Pelvis
Dwarf_Spine1
Dwarf_Spine2
Dwarf_Spine3
Dwarf_Ribcage
Dwarf_Neck
Dwarf_Head
Dwarf_EyeL
Dwarf_EyeR
Dwarf_Head_Attach
Dwarf_Beard1
Dwarf_Beard2
Dwarf_Beard3
Dwarf_Beard4
Dwarf_BeardL
Dwarf_BeardR
Dwarf_ArmLShoulder
Dwarf_ArmL1
Dwarf_ArmL21
Dwarf_ArmL22
Dwarf_ArmLHand
Dwarf_ArmLDigit01
Dwarf_ArmLDigit02
Dwarf_ArmLDigit03
Dwarf_ArmLDigit012
Dwarf_ArmLDigit013
Dwarf_ArmLDigit014
Dwarf_ArmLDigit015
Dwarf_ArmLDigit016
Dwarf_ArmLDigit017
Dwarf_ArmLDigit018
Dwarf_ArmLDigit019
Dwarf_ArmLDigit08
Dwarf_ArmLDigit09
Dwarf_ArmLDigit010
Dwarf_ArmLDigit011
Dwarf_ArmLDigit04
Dwarf_ArmLDigit05
Dwarf_ArmLDigit06
Dwarf_ArmLDigit07
Dwarf_HandL_Attach
Dwarf_ShoulderL_Attach
Dwarf_ArmRShoulder
Dwarf_ArmR1
Dwarf_ArmR21
Dwarf_ArmR22
Dwarf_ArmRHand
Dwarf_ArmRDigit01
Dwarf_ArmRDigit02
Dwarf_ArmRDigit03
Dwarf_ArmRDigit012
Dwarf_ArmRDigit013
Dwarf_ArmRDigit014
Dwarf_ArmRDigit015
Dwarf_ArmRDigit016
Dwarf_ArmRDigit017
Dwarf_ArmRDigit018
Dwarf_ArmRDigit019
Dwarf_ArmRDigit08
Dwarf_ArmRDigit09
Dwarf_ArmRDigit010
Dwarf_ArmRDigit011
Dwarf_ArmRDigit04
Dwarf_ArmRDigit05
Dwarf_ArmRDigit06
Dwarf_ArmRDigit07
Dwarf_HandR_Attach
Dwarf_ShoulderR_Attach
Dwarf_BackHigh_Attach
Dwarf_BackMid_Attach
Dwarf_BackLow_Attach
Dwarf_HipL_Attach
Dwarf_HipR_Attach
Dwarf_HipF_Attach
Dwarf_LegL1
Dwarf_LegL2
Dwarf_LegLHeel
Dwarf_LegLToe
Dwarf_LegR1
Dwarf_LegR2
Dwarf_LegRHeel
Dwarf_LegRToe
Dwarf_ATT_R_00
Dwarf_ATT_R_01
Dwarf_ATT_R_02
Dwarf_ATT_L_00
Dwarf_ATT_L_01
Dwarf_ATT_L_02
Dwarf_ATT_Mid_R_00
Dwarf_ATT_Mid_R_01
Dwarf_ATT_Mid_R_02
Dwarf_ATT_Mid_L_00
Dwarf_ATT_Mid_L_01
Dwarf_ATT_Mid_L_02
Dwarf_ATT_L_Belt_00
Dwarf_ATT_Low_R_00
Dwarf_ATT_Low_R_01
Dwarf_ATT_Low_L_00
Dwarf_ATT_Low_L_01
Dwarf_ATT_Back_High_R
Dwarf_ATT_Back_High_L
Dwarf_ATT_Back_Mid_R
Dwarf_ATT_Back_Mid_L
Dwarf_ATT_Belt_L
Dwarf_ATT_Upper_L
Dwarf_Att_Upper_R
Dwarf_ATT_Lower_R
Dwarf_ATT_Lower_L
Dwarf_ATT_Back_R
Dwarf_ATT_Back_L

[RemoveTracks]
3P_Forge_Idle_Loop_A.83=all
3P_Forge_Idle_Loop_A.84=all
3P_Forge_Idle_Loop_A.85=all
3P_Forge_Idle_Loop_A.86=all
3P_Forge_Idle_Loop_A.87=all
3P_Forge_Idle_Loop_A.88=all
3P_Forge_Idle_Loop_A.89=all
3P_Forge_Idle_Loop_A.90=all
3P_Forge_Idle_Loop_A.91=all
3P_Forge_Idle_Loop_A.92=all
3P_Forge_Idle_Loop_A.93=all
3P_Forge_Idle_Loop_A.94=all
3P_Forge_Idle_Loop_A.95=all
3P_Forge_Idle_Loop_A.96=all
3P_Forge_Idle_Loop_A.97=all
3P_Forge_Idle_Loop_A.98=all
3P_Forge_Idle_Loop_A.99=all
3P_Forge_Idle_Loop_A.100=all
3P_Forge_Idle_Loop_A.101=all
3P_Forge_Idle_Loop_A.102=all
3P_Forge_Idle_Loop_A.103=all
3P_Forge_Idle_Loop_A.104=all
3P_Forge_Idle_Loop_A.105=all
3P_Forge_Idle_Loop_A.106=all
3P_Forge_Idle_Loop_A.107=all
3P_Forge_Idle_Loop_A.108=all
3P_Forge_Idle_Loop_A.109=all
3P_Forge_Idle_Loop_A.110=all
