[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Mug001
Mug001_Foam
Mug010
Mug019
Mug012
Mug013
Mug002
Mug014
Mug008
Mug011
Mug007
Mug018
Mug006
Mug003
Mug004
Mug015
Mug017
Mug009
Mug005
Mug016
Mug007_Foam
FoamOrg
Mug020
Mug_020

[RemoveTracks]
ANIM_Mug_Generic_Fill.2=all
ANIM_Mug_Generic_Fill.3=all
ANIM_Mug_Generic_Fill.4=all
ANIM_Mug_Generic_Fill.5=all
ANIM_Mug_Generic_Fill.6=all
ANIM_Mug_Generic_Fill.7=all
ANIM_Mug_Generic_Fill.8=all
ANIM_Mug_Generic_Fill.9=all
ANIM_Mug_Generic_Fill.10=all
ANIM_Mug_Generic_Fill.11=all
ANIM_Mug_Generic_Fill.12=all
ANIM_Mug_Generic_Fill.13=all
ANIM_Mug_Generic_Fill.14=all
ANIM_Mug_Generic_Fill.15=all
ANIM_Mug_Generic_Fill.16=all
ANIM_Mug_Generic_Fill.17=all
ANIM_Mug_Generic_Fill.18=all
ANIM_Mug_Generic_Fill.19=all
ANIM_Mug_Generic_Fill.20=all
ANIM_Mug_Generic_Fill.21=all
ANIM_Mug_Generic_Fill.22=all
ANIM_Mug_Generic_Fill.23=all
